{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
  <div id="content">
      <div class="container my-5">
          <div class="row">
              <div class="col-md-7 ">
                  <h2  class="display-4">{% trans 'Welcome to PromptBing' %}</h2>
                  <p class="lead">{% trans 'The Prompt Marketplace for Bing AI.' %}<br><br></p>
                  <p>{% trans 'Find top prompts, produce better results, sell your own prompts.' %}</p>
                  <a href="{% url 'prompt-list' %}" title="Find a prompt" class="btn btn-primary btn-lg keychainify-checked">
                      {% trans 'Find a prompt' %}
                  </a>
                  <a href="{% url 'prompt-create' %}" title="Sell a prompt" class="btn btn-outline-primary btn-lg keychainify-checked">
                      {% trans 'Sell a prompt' %}
                  </a>
              </div>

              <div class="col-md-3 ">
                  <img src="{% static 'prompts/img/Bing_GPT_crop.jpeg' %}" class="img-fluid " alt="Bing_GPT">
                  <h2 style="text-align: center;">{% trans 'Prompts for Bing AI' %}</h2>
                  <p align="center">{% trans 'Get the most and best from Bing AI.' %}</p>
              </div>
          </div>
      </div>
      <div class="container">
      </div>

  </div>
{% endblock content %}
