{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans 'Create a prompt' %}{% endblock %}
{% block content %}
<div class="container">

    <div id="content">
        <div class="container my-5">
            <h1>{% trans 'Create a prompt for selling and begin to make money' %}</h1>
        </div>

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <!-- Display the form with enctype attribute for file upload -->
        <div class="container my-5">
            <form class="" id="" action="{% url 'prompt-create' %}" method="POST" enctype="multipart/form-data">

                <!-- Add a CSRF token for security -->
                {% csrf_token %}

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_title">{{ form.title.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.title show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_category">{{ form.category.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.category show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_cover_image">{{ form.cover.label }}</label>
                    <div class="col-sm-10">
                        <input type="file" name="cover" accept="image/*" class="form-control" title="A cover image for the prompt." required="" id="id_cover">
                        <div class="form-text">{{ form.cover.help_text }}</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_description">{{ form.description.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.description show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">{{ form.style.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.style show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_content">{{ form.content.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.content show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_prompt_types">{{ form.types.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.types show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_price_us_dollar">{{ form.price_dollar.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.price_dollar show_label=False %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_price_chinese_yuan">{{ form.price_yuan.label }}</label>
                    <div class="col-sm-10">
                        {% bootstrap_field form.price_yuan show_label=False %}
                    </div>
                </div>

                <div style="display:none">
                    {{ form.honeypot }}
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-lg btn-primary ">
                            {% trans 'Submit' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
        </div>
    </div>

</div>
{% endblock %}
