{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
  <div class="container my-5">
    <h1 class="display-4">{% trans 'Prompts' %}</h1>
    <hr class="my-4">
    {% if request.user.is_authenticated %}
      <a href="{% url 'prompt-create' %}" class="btn btn-success mb-3">{% trans 'Create prompt' %}</a>
    {% endif %}
    {% if object_list %}
      <div class="row">
        {% for prompt in object_list %}
          <div class="col-md-3">
            <div class="card mb-3">
              <a href="{% url 'prompt-detail' prompt.id %}">
                <img class="card-img-top" src="/media/{{ prompt.cover }}" alt="{{ prompt.title }}">
              </a>
              <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'prompt-detail' prompt.id %}">{{ prompt.title }}</a></h5>
                <p class="card-text" align="right"><strong>$</strong>{{ prompt.price_dollar }} or <strong>￥</strong>{{ prompt.price_yuan}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% bootstrap_pagination page_obj %}
    {% else %}
      <p class="lead">{% trans 'No prompts found.' %}</p>
    {% endif %}
  </div>
{% endblock content %}
