{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/media/{{ prompt.cover }}" alt="{{ prompt.title }}">
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
            <h2 class="display-4">{{ prompt.title }}</h2>
            <hr class="my-4">
            <p>{{ prompt.seller }} {{ prompt.updated_at }}</p>
            <p><strong>Conversation style: </strong>{{ prompt.get_style_display }}</p>
            <p><strong>Prompt types: </strong></p>
            <ul>
                {% for type in prompt.types.all %}
                <li>{{ type }}</li>
                {% endfor %}
            </ul>
            <p><strong>Price: </strong><strong>${{ prompt.price_dollar }}</strong> or <strong>￥{{ prompt.price_yuan}}</strong></p>
            <p class="lead">{{ prompt.description }}</p>
        </div>
    </div>

    <div class="row">
        {{ prompt.content }}
    </div>
</div>
{% endblock content %}
