{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
  <div class="container">
    {% if object %}
      <h1 class="display-4">{% trans 'Update template' %}</h1>
    {% else %}
      <h1 class="display-4">{% trans 'Create template' %}</h1>
    {% endif %}
    <hr class="my-4">
    <form method="post">
      {% csrf_token %}
      {{ form|bootstrap }}
      <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </form>
  </div>
{% endblock content %}
